.App {
  text-align: center;
}

/* General Swapper Styles */
.mySwiper {
  position: relative;
}

/* Custom Swiper Pagination Styles */
.swiper-pagination {
  bottom: 10px !important; /* Adjust as needed */
}

.swiper-pagination-bullet {
  background: white !important; /* Ensure dot color is white */
}

.swiper-pagination-bullet-active {
  background: yellow !important; /* Ensure active dot color is yellow */
}

/* Custom Navigation Styles */
.swiper-button-next, .swiper-button-prev {
  color: black !important; /* Ensure arrow color is black */
  width: 40px; /* Adjust as needed */
  height: 40px; /* Adjust as needed */
  background-color: rgba(255, 255, 255, 0.8) !important; /* Ensure background for better visibility */
  border-radius: 50%; /* Rounded buttons */
  z-index: 10; /* Ensure arrows are on top */
  transition: background-color 0.3s ease; /* Optional: Smooth transition for background color change */
}

/* Adjust the position of the navigation buttons */
.swiper-button-next {
  right: 10px !important; /* Adjust as needed */
}

.swiper-button-prev {
  left: 10px !important; /* Adjust as needed */
}

/* Remove default Swiper styles to avoid conflicts */
.swiper-pagination-bullet {
  border: none !important; /* Remove any borders */
}