.App {
  text-align: center;
}



.color1 {
  background-color: #6AA6FF;
}


.color2 {
 background-color: #9D7FFF;
} 
.color3 {
  background-color: #000;
}

.custom-bullets li::marker {
  color: yellow; /* Change bullet color to yellow */
}

.typing-effect-container {
  min-height: 3rem; /* Adjust this value based on your text size */
}

code {
  font-family: monospace; /* Ensures the text looks like code */
}

/*  */