.App {
  text-align: center;
  background-color: #C9DEFF;
}



.color1 {
  background-color: #6AA6FF;
}


.color2 {
 background-color: #9D7FFF;
} 
.color3 {
  background-color: #000;
}




.bg11 {
  background-color: #C9DEFF ;
}